pytest~=6.0.1
black==19.10b0
pre-commit==1.17.0
ipython
flask-shell-ipython
## plotly dash testing dependencies ##
webdriver_manager
percy
selenium
bs4
## end plotly dash testing dependencies ##
-r requirements.txt