flask~=1.1.1
flask-migrate==2.5.2
flask-sqlalchemy~=2.4.0
marshmallow-sqlalchemy==0.22.3
google-cloud-storage~=1.31.0
google-cloud-pubsub==0.42.1
cidc-schemas~=0.23.8
python-dotenv==0.10.3
requests==2.22.0
typing_extensions~=3.7.4
# pin jinja version to resolve cidc-schemas dependency issue
jinja2==2.10.3
